<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About This Angular App</h1>
        <p class="lead">This is a simple Todo list, solely made for the purpose of learing and implementing angular.</p>
        <hr class="my-4">
        <p>The app provides functionality to add, delete and mark as done. It uses components, functions, routing, data passing etc.</p>
        <a class="small" href="https://github.com/DikshaAdhikari" role="button"> By Diksha Adhikari :)</a>
    </div>
</div>